<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingCar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>652EB49E1D8FD18C0059589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>652EB4B71D8FD18C0059589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>652EB4C21D8FD18C0059589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
